/*start main page  */
.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.m-padding {
    padding: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.m-margin {
    margin: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.d-grid {
    display: grid;
}

.w-100 {
    width: 100%;
}

.border-radius {
    border-radius: 20px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}
.m-background{
    background-color:white;
}
.dirrction-rtl{
    direction: rtl;
    text-align: right;
}   
/*end main page  */

/* start ul */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* end ul */

/* start a */
a {
    text-decoration: none;
    color: #000;
}
/* end a */
/*start position formate */
.main-position{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/*end position formate */
/*start border none */
.border-none{
    outline: none;
    border: none;
}
/*end border none */