/* start content */
.content .header-word::after{
    width: 100px;
}
.content .header-word::before{
    width: 87.5px;
}
/* end content */
.setting-content{
    grid-template-columns:repeat( auto-fill , minmax(45% , 1fr)) ;
    margin-bottom: 20px;
}
@media (max-width:992px) {
    .setting-content{
        grid-template-columns:repeat( auto-fill , minmax(250px , 1fr)) ;
    }
}
@media (max-width:768px) {
    .setting-content .main-head-h3{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .setting-content .main-para-h3-p{
        font-size: 11px;
    }
}
/* end header */
/* start site  */
.setting-content .site-control .check{
    margin-top: 20px;
    margin-bottom: 30px;
}
.setting-content .site-control .check h4{
    font-weight: 600;
    margin-bottom: 10px;
}
.setting-content .site-control .check p{
    font-weight: normal;
    font-size: 14px;
    color: #999;
}
@media (max-width:768px) {
    .setting-content .site-control .check h4{
        font-size: 15px;
    }
    .setting-content .site-control .check p{
        font-size: 12px;
    }
}
.setting-content .site-control textarea{
    min-height: 150px;
    resize: none;
    border-radius: 10px;
    border: 2px solid var(--hover-color);
    display: block;
    padding: 10px;
    transition: 1s;
    outline: none;
    z-index: 100;
    transition: all .5s;
}
.setting-content .site-control .label{
    position: absolute;
    top: 10px;
    left: 10px;
    transition: var(--main-transition);
    color: #999;
    font-size: 13px;
}
.setting-content .site-control textarea:focus {
    border: 2px solid var(--main-color);
}
.setting-content .site-control textarea:focus + .label {
    transform: translateY(-22.5px);
    background-color: white;
    padding: 5px 10px;
    z-index: 101;
    color: initial;
}
/* start site  */
/* start info */
.setting-content .general-info form{
    margin-top: 20px;
}
.setting-content .general-info form  label{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #777;
}
.setting-content .general-info form input{
    color: #999;
    font-size: 13px;
    min-height: 40px;
    text-indent: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--hover-color);
    transition: var(--main-transition);
}
.setting-content .general-info form input:focus{
    color: initial;
    border-color:var(--main-color) ;
}
.setting-content .general-info form .email{
    display: inline-flex;
    width: calc(100% - 100px);
    cursor: no-drop;
}
.setting-content .general-info form a{
    color: white;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 10px;
}
/* end info */
/* start Security */
.Security .password , .Security .factor{
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--hover-color);
}
.Security .password{
    margin-top: 15px;
}
.Security div .text h4{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.Security div .text p{
    color: #999;
    font-size: 13px;
}
.Security .password a{
    color:white ;
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width:768px) {
    .Security .password a{
        font-size: 13px;
    }
}
.Security .devices{
    margin-bottom: 20px;
}
.Security .devices a{
    background-color: var(--hover-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width:768px) {
    .Security .devices a{
        font-size: 13px;
    }
}
/* end Security */
/* start social */
.social .box label{
    width: 45px;
    height: 45px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--hover-color);
    border-radius: 10px 0 0 10px;
    border: 1px solid #ddd;
    color: #999;
    transition: var(--main-transition);
    cursor: pointer;
}
.social .box input{
    outline: none;
    border: 1px solid #ddd;
    background-color: var(--hover-color);
    text-indent: 5px;
    border-radius: 0 10px 10px 0;
}
.social .box:focus-within label{
    color: initial;
}
@media (max-width:768px) {
    .social .box input::placeholder{
        font-size: 12px;
    }
}
/* end social */
/* start  Widgets*/
.Widgets div:not(:last-child){
    margin-bottom: 15px;
}
.Widgets div input {
    appearance: none;
    -webkit-appearance: none;
}
.Widgets div label {
    padding-left: 30px;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}
@media (max-width:768px) {
    .Widgets div label {
        font-size: 15px;
    }
}
.Widgets div label::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    cursor: pointer;
}
.Widgets div label::after{
    content: "\2714";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
    top: 50%;
    transform:translateY(-50%) scale(0) rotate(180deg) ;
    transition: var(--main-transition);
    font-size: 13px;
    cursor: pointer;
}
.Widgets div input[type="checkbox"]:checked + label::after{
    transform:translateY(-50%) scale(1) rotate(0deg);
}
/* end  Widgets*/
/* start Backup */
.Backup form  div{
    margin-bottom: 15px;
}
.Backup form label{
    font-size: 18px;
    font-weight: 500;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}
@media (max-width:768px) {
    .Backup form label{
        font-size: 15px;
    }
}
.Backup form input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.Backup form label::before{
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
    outline: 1px solid var(--main-color);
    border: 4px solid white;
    cursor: pointer;
}
.Backup form label::after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    left: 3px;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: var(--main-transition);
    cursor: pointer;
}
.Backup form input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) scale(1);
}
.Backup form{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--hover-color);
}
.Backup .footer{
    gap: 10px;
    flex-wrap: wrap;
}
.Backup .footer .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--hover-color);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    transition: var(--main-transition);
    cursor: pointer;
}
.Backup .footer .box:hover{
    color: var(--main-color);
    border-color:var(--main-color) ;
}
.Backup .footer .box i{
    margin-bottom: 15px;
}
.Backup .footer .box span{
    font-size: 18px;
} 
@media (max-width:992px) {
    .Backup .footer .box{
        width: 100%;
    }
}
.Backup .footer .b1:hover ~ .b2 ,
.Backup .footer .b1:hover ~ .b3{
    filter: blur(3px);
}
.Backup .footer .b1:has( + .b2:hover) ,
.Backup .footer .b2:hover ~ .b3 {
    filter: blur(3px);
}
.Backup .footer .b1:has( + * + .b3:hover) ,
.Backup .footer .b2:has( + .b3:hover){
    filter: blur(3px);
}
/* end Backup */
