/*start main formate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root{
    --main-transition:.4s;
    --main-color:#0075ff;
    --socend-color:#0d69d5;
    --hover-color: #eeeeee;
    --main-background-color: #f1f1f9;
    --main-content-background: white;
}
body{
    font-family: "Work Sans", serif;
}

.main-head-h3{
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}
.main-para-h3-p{
    font-size: 13px;
    font-weight: 500;
    color: #777;
}
/*end main formate */
/* start sidebar */
.sidebar{
    width: 250px;
    min-height: 100vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.sidebar .logo{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    width: fit-content;
}
.sidebar .logo::before{
    content: "";
    position: absolute;
    width: 12px ;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
}
.sidebar ul li{
    margin: 5px 0;
    border-bottom: 2px solid var(--hover-color);
}
.sidebar ul li a{
    display: block;
    padding: 15px;
    transition: var(--main-transition);
}
.sidebar  ul li a:hover{
    background-color: var(--hover-color);
    border-radius: 5px;
}
.sidebar ul .active{
    background-color: var(--hover-color);
    border-radius: 5px;
}
.sidebar ul li a i{
    margin-right: 10px;
}
@media (max-width:768px) {
    .sidebar {
        width: 60px;
    }
    .sidebar .logo::before{
        display: none;
    }
    .sidebar .logo{
        border: none;
        margin-bottom: 10px;
        left: 10px;
        font-size: 15px;
    }
    .sidebar  ul{
        width: 30px;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .sidebar ul li{
        margin: 0 0 2px;
    }
    .sidebar ul li a {
        padding: 10px 0;
    }
    .sidebar ul li a i{
        margin-right: 0;
    }
    .sidebar ul li a span{
        display: none;
    }
}
/* end sidebar */
/* start content */

.content{
    background-color: var(--main-background-color);
}
.content .header{
    background-color: var(--main-content-background);
    justify-content: space-between;
    height: 65px;
}
.content .header .search input{
    border: 1px solid #999;
    border-radius: 10px;
    text-indent: 40px;
    width: 170px;
    height: 38px;
    transition: var(--main-transition);
}
.content .header .search input:focus{
    width: 200px;
}
.content .header .search i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}
.content .header .notification i{
    font-size: 22px;
}
.content .header .notification::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    top: 0;
    left: 13px;
    border-radius: 50%;
}
.content .header .notification img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.content .header-word{
    margin: 20px 20px 30px;
    position: relative;
}
.content .header-word::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: var(--main-content-background);
    bottom: -10px;
    left: 0;
}
.content .header-word::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: black;
    bottom: -10px;
    left: 0;
    z-index: 10;
}
/* end content */

.all-content{
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
@media (max-width:768px) {
    .all-content{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    } 
}
/* start welcome */
.welcome .head{
    background-color: var(--hover-color);
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 110px;
}
.welcome .head img{
    width: 200px;
}
.welcome .image img{
    width: 60px;
    position: relative;
    top: -30px;
    margin: 0px 10px;
    border: 5px solid white;
    border-radius: 50%;
}
.welcome .foot{
    justify-content: space-evenly;
    border-top:2px solid var(--hover-color) ;
    border-bottom:2px solid var(--hover-color) ;
}
.welcome .foot .card h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.welcome .foot .card p{
    text-align: center;
    font-size: 13px;
    color: #777;
}
.welcome .link{
    margin-top: 49px;
    margin-bottom: 20px;
    text-align: right;
}
.welcome .link a{
    margin-right: 20px;
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
    border-radius:10px;
    transition: var(--main-transition);
}
.welcome .link a:hover{
    background-color: var(--socend-color);
}

@media (max-width:768px) {
    .welcome .head img{
        display: none;
    }
    .welcome .head .text{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-bottom: 10px;
    }
    .welcome .image img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }
}
/* end welcome */
/* start Quick Draft */
.Draft input , 
.Draft textarea{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--hover-color);
    border-radius: 10px;
    padding: 5px;
    margin: 15px 0px;
    text-indent: 10px;
}
.Draft input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: var(--main-transition);
    width: fit-content;
    text-indent: 0;
    position: absolute;
    right: 20px;
    bottom: 0;
}
@media (max-width:1200px) {
    .Draft{
        padding-bottom: 30px;
    }
    .Draft input[type="submit"]{
        bottom: -5px;
    }
}
/* end Quick Draft */
/* start target  */
.target p{
    margin-bottom: 20px;
}
.target .card:not(:last-child){
    margin-bottom: 20px;
}
.target .card i{
    width: 80px;
    height: 80px;
    background-color: red;
    font-size: 20px;
    color: white;
}
.target .card .card-stats{
    margin-left: 20px;
    width: 100%;
}
.target .card .card-stats h3{
    font-size: initial;
    color: #777;
    margin:5px;
}
.target .card .card-stats p{
    color: initial;
    font-size: 18px;
    font-weight: 500;
}
.target .card .card-stats .prog{
    width: 100%;
    height: 4px;
}
.target .card .card-stats .prog span{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}
.target .card .card-stats .prog span::before{
    content: attr(data-width);
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0075ff;
    z-index: 1;
    color: white;
    top: -35px;
    right: -13px;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.target .card:nth-child(2) .card-stats .prog span::before{
    background-color:#f59e0b ;
}
.target .card:nth-child(3) .card-stats .prog span::before{
    background-color:#22c55e ;
}
.target .card .card-stats .prog span::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: 0;
    border: 10px solid;
    border-color:#0075ff transparent transparent transparent;
    top: -10px;
    right: -8px;
}
.target .card:nth-child(2) .card-stats .prog span::after{
    border-color: #f59e0b transparent transparent transparent;
}
.target .card:nth-child(3) .card-stats .prog span::after{
    border-color: #22c55e transparent transparent transparent;
}
.target .card:first-child i{
    background-color: #cce3ff;
    color: #0075ff;
}
.target .card:first-child .card-stats .prog{
    background-color: #cce3ff;
}
.target .card:first-child .card-stats .prog span{
    background-color:#0075ff ;
}
.target .card:nth-child(2) i{
    background-color: #fdecce;
    color: #f59e0b;
}
.target .card:nth-child(2) .card-stats .prog{
    background-color: #fdecce;
}
.target .card:nth-child(2) .card-stats .prog span{
    background-color: #f59e0b;
}
.target .card:last-child i{
    color: #22c55e;
    background-color:#d3f3df ;
}
.target .card:last-child .card-stats .prog{
    background-color: #d3f3df;
}
.target .card:last-child .card-stats .prog span{
    background-color:#22c55e ;
}
/* end target  */
/* start Tickets  */
.Ticket .ticket-content{
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.Ticket .ticket-content .card{
    width: calc(50% - 20px);
    border: 1px solid #999;
    border-radius: 10px;
}
.Ticket .ticket-content .card i{
    font-size: 25px;
    margin-bottom: 10px;
}
.Ticket .ticket-content .card:nth-child(1) i{
    color:#f59e0b ;
}
.Ticket .ticket-content .card:nth-child(2) i{
    color: var(--main-color) ;
}
.Ticket .ticket-content .card:nth-child(3) i{
    color: #22c55e;
}
.Ticket .ticket-content .card:nth-child(4) i{
    color: #f44336;
}
.Ticket .ticket-content .card h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.Ticket .ticket-content .card p{
    font-size: 15px;
    color: #777;
}
@media (max-width:768px) {
    .Ticket .ticket-content .card{
        width: 100%;
    }
}
/* end Tickets  */
/* start news */
.news .card:not(:last-child){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: var(--hover-color) 2px solid;
}
.news .card img{
    width: 120px;
    margin-right: 20px;
    border-radius: 10px;
}
.news .card .text{
    margin-right: 20px;
}
.news .card h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.news .card p{
    font-size: 15px;
    color: #777;
}
.news .card .day{
    position: absolute;
    right: 0;
}
.news .card .day span{
    font-size: 15px;
    background-color: var(--hover-color);
    padding: 5px;
    border-radius: 7px;
}
@media (max-width:768px) {
    .news .card{
        flex-direction: column;
    }
    .news h3{
        text-align: center;
    }
    .news .card img{
        margin-bottom: 10px;
    }
    .news .card .day{
        position: relative;
        margin-top: 10px;
    }
}
/* end news */
/* start tasks */
.tasks .info:not(:last-child){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: var(--hover-color) 2px solid;
}
.tasks .info .text h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.tasks .info .text p{
    font-size: 15px;
    color: #777;
}
.tasks .info:nth-child(5){
    position: relative;
}
.tasks .info:nth-child(5)::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255 , 0.7);
}
@media (max-width:768px) {
    .tasks .info{
        margin-right: 10px;
    }
}
/* end tasks */
/* start Search */
.search .search-content .card h3{
    font-size: 18px;
    color: #999;
    font-weight: 500;
    margin-bottom: 30px;
}
.search .search-content .card ul li:not(:last-child){
    margin-bottom: 35px;
}
.search .search-content .card:nth-child(2) ul li span{
    padding: 5px;
    background-color: var(--hover-color);
    border-radius: 7px;
}
/* end Search */
/* start uploads */
.uploads .card:not(:last-child){
    border-bottom: var(--hover-color) 2px solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.uploads .card img{
    width: 40px;
    margin-right: 10px;
}
.uploads .card .text h4{
    font-weight: 500;
    margin-bottom: 7px;
}
.uploads .card .text p{
    font-size: 15px;
    color: #777;
}
.uploads .card .size{
    padding: 5px;
    background-color: var(--hover-color);
    height: fit-content;
    border-radius: 7px;
    font-size: 13px;
}
/* end uploads */
/* start  Last Project*/
.Last-Project ul{
    padding-left: 25px;
}
.Last-Project ul::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: var(--main-color);
}
.Last-Project ul li{
    margin-bottom: 40px;
}
.Last-Project ul li::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: -33px;
    border: 2px solid white;
    outline: 2px solid var(--main-color);
    background-color: var(--main-color);
}
.Last-Project ul li:nth-child(3)::before{
    animation: move 1.5s linear infinite alternate;
}
.Last-Project ul li:nth-child(4)::before , 
.Last-Project ul li:nth-child(5)::before{
    background-color: white;
}
@keyframes move {
    0%{
        background-color: var(--main-color);
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: var(--main-color);
    }
}
.Last-Project img{
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 200px;
    opacity: .4;
}
@media (max-width:768px) {
    .Last-Project img{
        display: none;
    }
    
}
/* end  Last Project*/
