/* header */
.main-head-h3{
    text-align: right;
}
.main-para-h3-p{
    font-size: 15px;
    color: #c5c5c5;
}
/* end header */
/*start sidebar */
.sidebar .logo{
    position: relative;
    right: 50%;
    transform: translateX(50%);
}
@media (max-width:768px) {
    .sidebar .logo{
        right: 10px;
    }
    .sidebar  ul{
        right: 50%;
        transform: translateX(50%);
    }
    .sidebar ul li a i{
        margin-left: 0;
    }
}
/*end sidebar */
/*start content header */
.content .header .notification img{
    margin-right: 10px;
    margin-left: 0;
}
.content .header .notification a{
    margin-right: 0px;
    margin-left: 10px;
}
.content .header .notification::before{
    right: 97px;
}
.content .header-word::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: var(--main-content-background);
    bottom: -10px;
    right: 0;
}
.content .header-word::before{
    content: "";
    position: absolute;
    width: 12.25px;
    height: 3px;
    background-color: black;
    bottom: -10px;
    right: 0;
    z-index: 10;
}
/*start content header */
/* start target */
.target .card .card-stats{
    margin-left:0px;
    margin-right: 20px;
    width: 100%;
}
.target .card .card-stats .prog span::before{
    right: 96%;
}
.target .card .card-stats .prog span::after{
    right: 97%;
}
/* end target */
/* start news */
.news .card img{
    margin-right: 0;
    margin-left: 20px;
}
.news .card .text{
    margin-right: 0px;
    margin-left: 20px;
}
.news .card .day{
    position: absolute;
    right:  85%;
}
.news .card .day span{
    padding: 5px 10px;
}
@media (max-width:768px) {
    .news .card{
        flex-direction: column;
        text-align: center;
    }
    .news .card .day{
        position: relative;
        margin-top: 10px;
        right: -10px;
        margin-top: 15px;
    }
}
/* end news */
/* start task */
@media (max-width:768px) {
    .tasks .info .text{
        margin-left: 10px;
        margin-right: 0;
    }
    .tasks .info .text h3{
        font-size: 16px;
    }
    .tasks .info .text p{
        font-size: 13px;
    }
}
/* end task */
/* start search */
.search .search-content .card:nth-child(2){
    text-align: left;
}
/* end secrch */
/* start uploads*/
.uploads .card img{
    margin-right: 0px;
    margin-left: 10px;
}
/* end uploads*/
/* start project */
.Last-Project ul{
    padding-right: 25px;
    padding-left: 0;
}
.Last-Project ul::before{
    right: 0;
}
.Last-Project ul li::before{
    right: -33px;
}
.Last-Project img{
    right: 70%;
}
/* end project */
/* start reminder */
.reminder .card{
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 35px;
    padding-right: 20px;
    position: relative;
}
.reminder .card::before{
    right: -30px;
}
.reminder .one{
    border-right: 3px solid var(--main-color);
    border-left: none;
}
.reminder .two{
    border-right: 3px solid #22c55e;
    border-left: none;
}
.reminder .three{
    border-right: 3px solid #f59e0b;
    border-left: none;
}
.reminder .four{
    border-right: 3px solid #f44336;
    border-left: none;
}
/* end reminder */
/* start last post */
.last-post .title img{
    margin-left: 15px;
    margin-right: 0px;
}
.last-post .reaction p i{
    margin-left: 5px;
    margin-right: 0px;
}
/* end last post */
/* start media */
.media .card .info i{
    margin-left: 15px;
    margin-right: 0;
}
/* end media */
/* start table */
.table table tr .image{
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
}
.table table tr td img:nth-child(2){
    position: relative;
    right: -20px;
}
.table table tr td img:nth-child(3){
    position: relative;
    right:-40px;
}
.table table tr td img:nth-child(4){
    position: relative;
    right: -60px;
}
.table table tr td img:nth-child(2){
    position: relative;
    right: -20px;
}
.table table thead th{
    text-indent: 10px;
}
/* end table */
